* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "Be Vietnam Pro", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../Images/bg-simplify-section-desktop.svg);
}

body > img{
    display:none;
}

/* Clases aplicadas al header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75.1px;
    width: 100vw;
}

header img:nth-child(4){
    display:none;
}

/*.contenedor-img1 {
    margin-left: 165px;

}*/


#list {
    display: flex;
    list-style-type: none;
    gap: 28px;
    
}

ul li {
    display: inline-block;
    
}

li a {
    color: #242E52;
    font-size: 13px;
    
 
}

button {
    color: #FFFFFF;
    align-items: center ;
    background-color: #F3603B;
    border-radius: 50px;
    display: flex;
    font-size: 13.2px;
    height: 44px;
    justify-content: center;
    width: 154px;
    text-decoration: none;
    border: 0px;

}

/* Clases aplicadas al main */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75.1px;
    width: 100vw;
}

h1 {
    color: #232C50;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 66px;
    letter-spacing: -0.035em;

}

.contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 28px;
}

.parrafo {
    color: #000000;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
}

/* Clases aplicadas al primer section del code */

.section {
    display: flex;
    justify-content: space-around;
    margin-top: 75.1px;
    align-items: center;
}

#h2 {
    color: #232851;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
}

.contenedorTitulo h5{
    display:none;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    gap: 28px;

}

.article-contenedor{
    display:flex;
    flex-direction: column;
    gap: 40px;
    
    
}

.contenedor-div1 {
    display: flex;
    flex-direction: column;
    
    
}

.contenedor-div2 {
    display: flex;
    justify-content: space-around;
    gap: 28px;
}

h5 {
    color: #323851;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;

}

.p1 {
    color: #B3B2B7;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;

}

.itemNumerico { 
    align-items: center ;
    background-color: #F3603B;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    height: 43px;
    justify-content: center;
    Padding: 10px, 25px, 10px, 25px;
    width: 69px;

}

/* Clases aplicadas al segundo section del code */

h3 {
    margin-top: 75.1px;
    color: #242E53;
    font-style: normal;
    font-weight: bold;
    font-size: 39.2143px;
    line-height: 156.6%;
    text-align: center;
    
}

.section1 {
    display: flex;
    justify-content: center;
    margin-top: 75.1px;
    
}

.carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background-color: #FAFAFA;
    padding: 20px;
    width: 445px;
    height: 219px;
    
}

.Perfil{
    
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    
}

.h2-name {
    letter-spacing: -0.01em;
    color: #3F4868;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16.0714px;
    line-height: 156.6%;
}

p {
    color: #B9B9C1;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
}

#contenedor-circles {
    display: none;
}



/* Clases aplicadas al button centrado de la página */

#button-center {
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

#button-color {   
    align-items: center ;
    background-color: white;
    border-radius: 50px;
    color: #F3603B;
    display: flex;
    font-size: 13.2px;
    height: 44px;
    justify-content: center;
    width: 154px;
    border: 0px;
}

/* Clases aplicadas al contenedor naranja anterior al footer */

.contenedorOrange {
    width: 100vw;
    height: 224px;
    background-color: #F3603B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75.1px;

}

#h2-white {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

}

.contenedorOrange button {
    background-color: white;
    color:#F3603B;
}

/* Clases aplicadas al footer */

footer {
    display: flex;
    gap: 28px;
    background-color: #1E1E26;
    width: 100vw;
    height: 247px;
    align-items: center;

}

.contenedorInvisible {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#span-copy {
    display: none;
}

.contenedor3 {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    gap: 65px;
    margin-left: 100px;
    
}

.contenedor-img3 {
    margin-left: 60px;
    width: 145.43px;
    height: 26.18px;

}

.contenedor-img4 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 60px;
}

.contenedor4 {
    display: flex;
    justify-content: space-between;
    width: 392.73px;
    height: 141.14px;
    margin-left: 100px;
    margin-top: 28px;
    color: #FFFFFF;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;

    
}

.li-separados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-ls {
    color: #FFFFFF;
    display: block;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.contenedor5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 100px;
}

form {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

.contenedor-form{
    display: flex;
    justify-content: space-around;
    gap: 28px;
    margin-bottom: 56px;
}

#ingresar-dato {
    background-color: white;
    width: 201px;
    height: 44px;
    border-radius: 50px;
}

#button1 {
    color: white;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    background-color: #F3603B;
    border: 0px;

}

#span-copy1 {
    color: #8C8C94;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
}


@media (max-width:375px){


    /* Header */
    nav,header button{
        display:none;
    }
    header img:nth-child(4){
        display:block;
    }

    /* Main */
    main{
        flex-direction: column-reverse;
    }
    .contenedor-img2 img{
        width:100vw;
    }
    h1 {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        
    }
    .parrafo {
        color: #B3B2B7;
        font-weight: 500;
        font-size: 13px;
        line-height: 157.1%;
        text-align: center;
    }
    .contenedor1 button {
        width: 110px;
        height: 35px;
        font-size: 10px;
    }
    .contenedor1 {
        display: flex;
        align-items: center;
        width: 100vw;
        gap: 15px;
    }

    /* Body */
    body section article:nth-child(2n+1){
        display:none;
    }
    body > img{
        display:blocK;
        
    }

    /* Section */
    .section{
        flex-direction: column;
        gap: 28px;
    }
    .contenedor-div1 h5{
        display: none;
    }
    .contenedor-div1 br {
        display:none;
    }
    .contenedor-div1{
        margin-left: 10px;
        gap: 0px;
        margin-top: 0px;
        color: #B3B2B7;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        
    }
    .contenedor-div2{
        flex-direction: column;
    }
    .contenedorTitulo{
        display:flex;
        align-items: center;
        background-color:#f3613d1f;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    .wraper{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-left: 15px;

        
    }
    .contenedorTitulo h5{
        display:inline;
        height: 100%;
        align-self: center;
    }
    .itemNumerico{
        width: 55px;
        height: 30px;
        font-size: 13px;
    }
    .contenedor2 {
        display: flex;
        align-items: center;
        width: 100vw;
        gap: 15px;
    }
    p{
        color: #B3B2B7;
        font-weight: 500;
        font-size: 13px;
        line-height: 157.1%;
        text-align: center;
    }
    #h2 {
        font-size: 23px;
        text-align: center;
        line-height: 35px;
    }

    h3 {
        font-size: 30px;

    }
    #button-center button {
        width: 110px;
        height: 35px;
        font-size: 10px;
    }

    /*Segundo Section del code*/

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .circulo {
        width: 10px;
        height: 10px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        
        border: 2px solid #F3603B;
    }
    
    #circle-inline {
        background: #F3603B;
    }
    
    #contenedor-circles{
        display: flex;
        align-items: center;
        gap: 2px;
        margin-top: 100px;
        margin-left: 30px;
        
    }

    

    /*Contenedor naranja */
    .contenedorOrange {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100vw;
    }
    #h2-white {
        font-size: 25px;
        text-align: center;
    }
    .contenedorOrange button {
        width: 110px;
        height: 35px;
        font-size: 10px;
        
    }

    /* Footer */
    footer {
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        height: 150vw;
        
        
    }
    form {
        order: 0;
        margin-top: 25px;
        margin-left: 0px;
        
        
    }
    footer #span-copy1 {
        display: none;
    }
    .contenedor3 {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        order: 2;
        margin-left: 0px;
        margin-right: 60px;

        
    }
    .contenedor4 {
        display: flex;
        justify-content: space-around;
        order: 1;
        font-size: 13px;
        margin: 0;
        align-items: center;
    }
    #span-copy {
        display: block;
        order: 3;
        color: #8C8C94;
        font-style: normal;
        font-weight: 500;
        font-size: 12.5px;
        line-height: 18px;
    }
    #ingresar-dato{
        width: 250px;
        height: 44px;
    }



}
